In [27]:
import pandas as pd
import numpy as np

In [34]:
df_2013= pd.read_csv('Videos/Video 2013-01-01_2014-01-01 Schmidt Ocean.csv', header=0)
df_2018=pd.read_csv('Videos/Video 2018-01-01_2019-01-01 Schmidt Ocean - Table data.csv', header=0)

In [35]:
df_2018

,Video,Video title,Video publish time,Views,Watch time (hours)
0,Total,NaN,NaN,10945,3566.7397
1,stANg7J6xkE,ROV SuBastian Dive 176 Rosebud Whale Fall - Ba...,"Oct 20, 2018",317,81.8819
2,T7c4wrvHQxI,ROV SuBastian Dive 169 Crespi Knoll - Backyard...,"Oct 14, 2018",295,59.4930
3,iwTU_HNpLVs,ROV SuBastian Dive 193 Pescadero Basin,"Nov 15, 2018",269,105.5529
4,Y_hWTTPSN5Q,ROV SuBastian Dive 163 - Point Dume Seep - Ba...,"Oct 10, 2018",260,58.5540
...,...,...,...,...,...
93,5lpUimSDmr0,ROV SuBastian Dive 111 (C) - White Shark Cafe,"Apr 30, 2018",10,0.4603
94,85x4qYI1WV8,ROV SuBastian Dive 174 Del Mar - Backyard Deep,"Oct 16, 2018",8,1.0795
95,yd588RYAMLI,live streaming test Honolulu March 2 2018,NaN,7,10.6641
96,9wczhO8bKFM,ROV SuBastian Dive 158 - Mcarthur Promontory -...,"Sep 15, 2018",4,0.0603
97,h1TXj_3JnwI,test Oct 10,NaN,1,0.1681

In [36]:
pattern= "Dive (\d+)"
output=df_2018['Video title'].str.findall(pattern)
df_2018['Rov Livestream']=output
df_2018

,Video,Video title,Video publish time,Views,Watch time (hours),Rov Livestream
0,Total,NaN,NaN,10945,3566.7397,NaN
1,stANg7J6xkE,ROV SuBastian Dive 176 Rosebud Whale Fall - Ba...,"Oct 20, 2018",317,81.8819,[176]
2,T7c4wrvHQxI,ROV SuBastian Dive 169 Crespi Knoll - Backyard...,"Oct 14, 2018",295,59.4930,[169]
3,iwTU_HNpLVs,ROV SuBastian Dive 193 Pescadero Basin,"Nov 15, 2018",269,105.5529,[193]
4,Y_hWTTPSN5Q,ROV SuBastian Dive 163 - Point Dume Seep - Ba...,"Oct 10, 2018",260,58.5540,[163]
...,...,...,...,...,...,...
93,5lpUimSDmr0,ROV SuBastian Dive 111 (C) - White Shark Cafe,"Apr 30, 2018",10,0.4603,[111]
94,85x4qYI1WV8,ROV SuBastian Dive 174 Del Mar - Backyard Deep,"Oct 16, 2018",8,1.0795,[174]
95,yd588RYAMLI,live streaming test Honolulu March 2 2018,NaN,7,10.6641,[]
96,9wczhO8bKFM,ROV SuBastian Dive 158 - Mcarthur Promontory -...,"Sep 15, 2018",4,0.0603,[158]
97,h1TXj_3JnwI,test Oct 10,NaN,1,0.1681,[]

In [42]:
def get_rov_id(x):
    if len(x)==0:
        return np.nan
    else:
        return int(x[0])

In [43]:
df_2018['ROV ID']=df_2018['Rov Livestream'].apply(lambda x: get_rov_id(x))

TypeError: object of type 'float' has no len()

In [39]:
df_2018

,Video,Video title,Video publish time,Views,Watch time (hours),Rov Livestream
0,Total,NaN,NaN,10945,3566.7397,NaN
1,stANg7J6xkE,ROV SuBastian Dive 176 Rosebud Whale Fall - Ba...,"Oct 20, 2018",317,81.8819,[176]
2,T7c4wrvHQxI,ROV SuBastian Dive 169 Crespi Knoll - Backyard...,"Oct 14, 2018",295,59.4930,[169]
3,iwTU_HNpLVs,ROV SuBastian Dive 193 Pescadero Basin,"Nov 15, 2018",269,105.5529,[193]
4,Y_hWTTPSN5Q,ROV SuBastian Dive 163 - Point Dume Seep - Ba...,"Oct 10, 2018",260,58.5540,[163]
...,...,...,...,...,...,...
93,5lpUimSDmr0,ROV SuBastian Dive 111 (C) - White Shark Cafe,"Apr 30, 2018",10,0.4603,[111]
94,85x4qYI1WV8,ROV SuBastian Dive 174 Del Mar - Backyard Deep,"Oct 16, 2018",8,1.0795,[174]
95,yd588RYAMLI,live streaming test Honolulu March 2 2018,NaN,7,10.6641,[]
96,9wczhO8bKFM,ROV SuBastian Dive 158 - Mcarthur Promontory -...,"Sep 15, 2018",4,0.0603,[158]
97,h1TXj_3JnwI,test Oct 10,NaN,1,0.1681,[]

In [15]:
df.to_csv('2013_Updated_ROVLivestream')